ansible-core==2.14.1
    # via -r ./app/requirements.in
arrow==1.2.3
    # via jinja2-time
attrs==22.2.0
    # via
    #   jschema-to-python
    #   jsonschema
    #   sarif-om
aws-lambda-builders==1.24.0
    # via aws-sam-cli
aws-sam-cli==1.70.1
    # via -r ./app/requirements.in
aws-sam-translator==1.57.0
    # via
    #   aws-sam-cli
    #   cfn-lint
binaryornot==0.4.4
    # via cookiecutter
boto3==1.26.55
    # via
    #   -r ./app/requirements.in
    #   aws-sam-cli
    #   aws-sam-translator
    #   serverlessrepo
botocore==1.29.55
    # via
    #   boto3
    #   s3transfer
certifi==2022.12.7
    # via requests
cffi==1.15.1
    # via cryptography
cfn-lint==0.72.2
    # via aws-sam-cli
chardet==4.0.0
    # via
    #   binaryornot
    #   requests
chevron==0.14.0
    # via aws-sam-cli
click==8.1.3
    # via
    #   aws-sam-cli
    #   cookiecutter
    #   flask
cookiecutter==2.1.1
    # via aws-sam-cli
cryptography==39.0.0
    # via
    #   ansible-core
    #   pyopenssl
dateparser==1.1.6
    # via aws-sam-cli
distlib==0.3.6
    # via virtualenv
dnspython==2.3.0
    # via -r ./app/requirements.in
docker==4.2.2
    # via aws-sam-cli
filelock==3.9.0
    # via virtualenv
flask==2.0.3
    # via aws-sam-cli
idna==2.10
    # via requests
itsdangerous==2.1.2
    # via flask
jinja2==3.1.2
    # via
    #   ansible-core
    #   cookiecutter
    #   flask
    #   jinja2-time
jinja2-time==0.2.0
    # via cookiecutter
jmespath==0.10.0
    # via
    #   aws-sam-cli
    #   boto3
    #   botocore
jschema-to-python==1.2.3
    # via cfn-lint
jsonpatch==1.32
    # via cfn-lint
jsonpickle==3.0.1
    # via jschema-to-python
jsonpointer==2.3
    # via jsonpatch
jsonschema==4.17.3
    # via
    #   aws-sam-translator
    #   cfn-lint
junit-xml==1.9
    # via cfn-lint
markupsafe==2.1.2
    # via jinja2
netaddr==0.8.0
    # via -r ./app/requirements.in
networkx==2.8.8
    # via cfn-lint
packaging==23.0
    # via ansible-core
pbr==5.11.1
    # via
    #   jschema-to-python
    #   sarif-om
platformdirs==2.6.2
    # via virtualenv
pycparser==2.21
    # via cffi
pydantic==1.10.4
    # via aws-sam-translator
pyopenssl==23.0.0
    # via aws-sam-cli
pyrsistent==0.19.3
    # via jsonschema
python-dateutil==2.8.2
    # via
    #   arrow
    #   botocore
    #   dateparser
python-slugify==7.0.0
    # via cookiecutter
pytz==2022.7.1
    # via dateparser
pyyaml==5.4.1
    # via
    #   -r ./app/requirements.in
    #   ansible-core
    #   aws-sam-cli
    #   cfn-lint
    #   cookiecutter
    #   serverlessrepo
regex==2021.9.30
    # via
    #   aws-sam-cli
    #   dateparser
requests==2.25.1
    # via
    #   -r ./app/requirements.in
    #   aws-sam-cli
    #   cookiecutter
    #   docker
resolvelib==0.8.1
    # via ansible-core
ruamel-yaml==0.17.21
    # via aws-sam-cli
ruamel-yaml-clib==0.2.7
    # via ruamel-yaml
s3transfer==0.6.0
    # via boto3
sarif-om==1.0.4
    # via cfn-lint
serverlessrepo==0.1.10
    # via aws-sam-cli
setuptools==66.1.1
    # via
    #   -r ./app/requirements.in
    #   aws-lambda-builders
six==1.16.0
    # via
    #   docker
    #   junit-xml
    #   python-dateutil
    #   serverlessrepo
text-unidecode==1.3
    # via python-slugify
tomlkit==0.7.2
    # via aws-sam-cli
typing-extensions==4.4.0
    # via
    #   aws-sam-cli
    #   aws-sam-translator
    #   pydantic
tzlocal==3.0
    # via
    #   aws-sam-cli
    #   dateparser
urllib3==1.26.14
    # via
    #   botocore
    #   requests
virtualenv==20.17.1
    # via -r ./app/requirements.in
watchdog==2.1.2
    # via aws-sam-cli
websocket-client==1.4.2
    # via docker
werkzeug==2.0.3
    # via
    #   aws-sam-cli
    #   flask
wheel==0.38.4
    # via
    #   -r ./app/requirements.in
    #   aws-lambda-builders
