# pip-compile --upgrade --no-header --quiet --allow-unsafe ./app/requirements.in > ./app/requirements.txt
# in case pip-compile is not available, do `pip install pip-tools`

ansible-core
aws-sam-cli
boto3
dnspython
netaddr
pyyaml
requests
setuptools
virtualenv
wheel
